{% extends "base.html" %}
{% block body_block %}
<script>
function flag(){
  console.log("Hello world!");
  document.getElementById("custId").value = "1";
}
function tuggleflag(){
  if(document.getElementById("custId").value !=1){
    var myobj = document.getElementById("myDIV");
      myobj.remove();
  }
  else{
    var myobj = document.getElementById("myDIV1");
      myobj.remove();
  }

}
</script>
<input type="hidden" id="custId" name="custId" value="0">
<div class="row">
<div class="col-1">
</div>
<div class="col-8  mt-3">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{recipe.image.url}}" class="d-block w-100" style="width:700px;height:500px;">
      </div>
    </div>
  </div>
  <div class="jumbotron">

      <div class="row">
        <div class="col-6">
          <h1 >{{recipe.name}}</h1>
        </div>
        <div class="col-sm pl-0 pr-0 ">
          <p >Cooking time:
            {{recipe.time}}</p>
        </div>
        <div class="col-sm pl-0 pr-0">
          {% if user.is_authenticated %}
          <a href="{% url 'goto:remove_fav' recipe.id user %}"><button id="myDIV" type="button" class="btn btn-outline-danger rounded-circle">💗</button></a>

          <a href="{% url 'goto:add_fav' recipe.id user %}"><button id="myDIV1"type="button" class="btn btn-outline-danger rounded-circle">🤍</button></a>
          {% endif %}





          {% for usr in recipe.favorites.all %}

              {% if user.username == usr.username %}

               <script>flag();</script>

              {% endif %}


          {% endfor %}
          <script>tuggleflag()</script>









        </div>

      </div>


<div class="mt-5">
  <h2>Ingredients:</h2>

  {% for item in ingredients %}
      <p>{{ item }}<p/>
  {% endfor %}

</div>
<div class="mt-5">
  <h2>Ingredients:</h2>
  {% with list1=1 %}
  {% for item in method %}
      <p>{{ item }}<p/>
  {% endfor %}
  {% endwith %}
</div>


        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class='row'>
        <div class='col mt-3 mr-0 pr-0'>
        {{ f1.as_p }}
        </div>
        <div class='col-1 mt-5 ml-0'>
        <input class="btn btn-outline-primary" type="submit" name="" value="send">
        </div>
        </div>

        </form>


<div class="my-3 p-3 bg-white rounded shadow-sm mb-0">
  <p>Comments</p>
        {% for c in comments %}

          <div class="media text-muted pt-3">
            <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{c.user.user_pic.profile_pic.url}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#007bff"></rect>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@{{c.user.username}}</strong>
              {{c.text}}
            </p>
          </div>
        {% if user == c.user %}
        <small class="d-block text-right mt-3">
            <a href="{% url 'goto:del_comment' c.id recipe.id %}">Delete</a>
          </small>
          {% endif %}

        {% endfor %}
        </div>

  </div>
</div>


<div class='col mt-3' id='div'>
  <form enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {{ f2.as_p }}
  <input class="btn btn-outline-primary" type="submit" name="" value="save">
  </form>
      </div>
</div>



{% endblock %}
